<html>
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>

  <div class="input-group mb-3">
    <form action="/answer" data-turbo="false" class="question-form">
      <input type="text" name="question" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      <input type="submit" value="Ask!" button type="button" class="btn btn-primary">
    </form>
  </div>
</html>
